<div id='left-nav-bar' class='five columns alpha' style="float:left;">
	<div id='slide-interface' style='z-index:101;'>
		<ul id='slide-list' style='z-index=101;'></ul>
	</div>
	
	<ul id='slideDeckButtons' class='five columns'>
		<li><button class='button image-add'><span id='decorate-button'>add image<span></button></li>
		<li><button class='button'>add video</button></li>
		<li><button id='impress-button' class='button'>impress!</button></li>
	</ul>
	<!-- <button id='add-slide'>Add a slide</button> -->
</div>