/*----------------------GENERIC STYLE------------------*/
	a {
		text-decoration:none;
		color:black;
	}
	
	
/*----------------------SITE WIDE------------------*/	
	#authentication {
		pointer-events:auto;
	}
	
	#container-custom {
		width:1000px;
		height:100%;
		margin:0 auto;
		position:relative;
	}
	
	.flash {
		float:right;
	}
	

/*----------------------SIDE BAR SLIDE EDIT PAGE------------------*/
	#left-nav-bar {
		background-color: #20272a;
	  background-image: -moz-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -ms-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -o-linear-gradient(top, #364147, #0a0c0d);
	  background-image: -webkit-linear-gradient(top, #364147, #0a0c0d);
	  background-image: linear-gradient(top, #364147, #0a0c0d);
		height:3000px;	
		width:250px;
		border-right:6px solid #5FCE6D;
		border-bottom-left-radius:6px;
		-webkit-box-shadow:-3px 1px 8px 7px #777;
		margin-right:50px;
	}
		
	#slide-interface {
		margin-top:15px;
		margin-left:20px;
		z-index:101;
		padding-bottom:10px;
		pointer-events: auto;
		width:200px;
	}
	
	#slide-list{
		margin:0 0 0 25px;
		width:250px;
		padding:0px !important;
		pointer-events:all;
	}
	
	#slide-list a{
		cursor: pointer;
	}
	
	#slideDeckButtons {
		list-style:none;
		display:inline;
		margin-left:10px;
	}
	
	#slideDeckButtons li {
		float:left;
		margin-left:25px;
	}
	
	#impress-button {
		margin-left:40px;
		margin-top:10px;
		margin-top:20px;
		font-size:20px;
	}
	
	#decorate-button {
		padding-bottom:5px;
		padding-left:5px;
	}
		
	.button {
		background: #778;
		text-align: center;
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: .8em;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0;
		padding:10px;
		border-radius:2px 2px;
	}
	
	
/*----------------------SLIDE EDITOR------------------*/		
	#inline-editor {
		width:600px;
		-webkit-border-radius:4px 4px;
		-webkit-box-shadow:inset 4px 2px 16px -3px #888;
		font-family: 'PT Serif', georgia, serif;
	  font-size: 32px;
	  line-height: 1.0;
		border:6px solid #888;
		resize:none;
		outline:none;
		opacity:1;
		background-color:#fff;
		z-index:10000;
	}


/*----------------------IMPRESS OVERRIDES------------------*/	
	.custom-wrapper {
		width:200px;
	}
	
	.custom-active {
		opacity: 1.0;
	}
	
	.custom-step { 
		width: 900px;
		height:600px;
    padding: 40px 30px 60px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.0;
	}
	
	.custom-step {
	  -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
		margin-bottom:20px;
	}

	.custom-step:not(.custom-active) {
	 	opacity: 0.3;
	}