<div id="step-<%= (index + 1) %>" class="<%= step["class"]%> editable"
	<% step.each do |attribute, value| %>
		<% if attribute != "class" %>
			<%= "#{attribute}='#{value}'" %>
		<% end %>
	<% end %>>
	<p><%= step[:content] %></p>
</div>

