<div id="step-<%= (index + 1) %>" class="<%= step['class']%>" 
	<% step.each do |attribute, value| %>
		<% if !['class','content'].include?(attribute) %>
			<%= "#{attribute}='#{value}' " %>
			<% end %><% end %>><p><%= step['content'] %></p>
</div>


