<div id='impress'>
	<% @deck.deck_data.each do |step| %>
		<%= render :partial => 'step', :locals => {:step => step} %>
	<% end %>
</div>

<%= stylesheet_link_tag    "impress", :media => "all" %>
<%= javascript_include_tag "impress.js" %>
<script>impress();</script>